body {
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 0%, 0.15);
    height: 90vh;
}
h1 {
    text-align: center;
    color: #262626;
}
@media (orientation: portrait) {
    h1 {
        font-size: 6vmax;
    }
}
@media (orientation: landscape) {
    h1 {
        font-size: 4vmax;
    }
}
svg {
    margin: 0px 10px;
}
path {
    fill: none;
    stroke-width: 5;
    stroke: red;
}
#white {
    stroke: white;
}
text {
    font-size: 32pt;
    fill: #262626;
}
